:root {
    --color-primary: rgb(250, 250, 250);
    --color-secondary: rgb(238, 238, 238);
    --button-primary: rgb(40, 123, 255);
    --button-press: rgb(52, 52, 241);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-secondary);
}

header {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 10%;
}
h1,h3,h4{
    transition: 1s;
}

h1 {
    font-size: 4vw;
}

h3 {
    font-size: 2vw;
}
h4 {
    font-size: 1vw;
    margin: 10px;
}

.info-table {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.info-table__textarea {
    height: 60%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(137, 137, 137);
    background-color: var(--color-primary);
    padding: 5px;
    resize: none;
}

.info-class {
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.info-class__class-number {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.class-number__counter {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(137, 137, 137);


}

.class-number__btn {
    cursor: pointer;
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-primary);
    border-radius: 5px;
    user-select: none;

}

.class-number__btn:active {
    background-color: var(--button-press);

}

.info-class__btn--create {
    height: 40%;
    width: 25%;
    cursor: pointer;
    background-color: var(--button-primary);
    color: aliceblue;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(137, 137, 137);
    margin: 30px 0px;
}

.info-class__btn--create:active {
    background-color: var(--button-press);
    box-shadow: 2px 2px 5px rgb(184, 184, 184);

}
.info-class__arrow{
    display: none;

    position: absolute;
    bottom: 10px;
    left: 50%;

    font-size: 50px;
    font-weight: bolder;
    color: var(--button-primary);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.423);

    rotate: 90deg;
    animation: upDown 1s ease-in-out infinite;
    opacity: 0.4;
}
@keyframes upDown {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
}

.table {
    height: fit-content;
    
    margin-bottom: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__grid {
    width: 90%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cell {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
    margin: 1px;
    border: 2px solid black;
    background-color: var(--color-primary);
    border-radius: px;
}

.top-cell {
    background-color: rgb(97, 158, 255);

}


@media (max-width: 600px) {
   
    h1 {
        font-size: 5.5vw;
    }
    
    h3 {
        font-size: 3vw;
    }
    h4 {
        font-size: 2vw;
        margin: 10px;
    }
    

}


@media (max-width: 480px) {
    h1 {
        font-size: 7vw;
    }
    
    h3 {
        font-size: 4vw;
    }
    h4 {
        font-size: 3vw;
        margin: 10px;
    }
    .info-class {
        height: 30%;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        
    
    }
    .class-number__btn {
        width: 20%;
    }
    .info-class__class-number {
        height: 100%;
        width: 100%;
        display: flex;
    }
    .info-class__btn--create {
        height: 40%;
        width: 100%;
        
        box-shadow: 2px 2px 5px rgb(137, 137, 137); 
    }
    
}



